DEBUG=false
LOG_LEVEL=INFO
GHCR_OWNER=benitojd
IMAGE_TAG=latest

APP_URL=http://203.57.85.149
NEXT_PUBLIC_BASE_URL=http://203.57.85.149
NEXT_PUBLIC_API_URL=http://203.57.85.149/api

DB_USER=olli
DB_PASSWORD=replace-with-strong-db-password
DB_NAME=olli_for_ssc_gd

JWT_SECRET_KEY=replace-with-long-random-jwt-secret

MINIO_ACCESS_KEY=replace-with-minio-access-key
MINIO_SECRET_KEY=replace-with-minio-secret-key
MINIO_BUCKET=olli-for-ssc-gd
MINIO_ENDPOINT=s3.eu-central-003.backblazeb2.com
MINIO_SECURE=true

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENCLOUD_ADMIN_API_KEY=replace-with-opencloud-api-key

CORS_ORIGINS=["http://203.57.85.149"]
