DEBUG=false
LOG_LEVEL=INFO

APP_URL=http://203.57.85.149
NEXT_PUBLIC_BASE_URL=http://203.57.85.149
NEXT_PUBLIC_API_URL=http://203.57.85.149/api

DB_USER=benify
DB_PASSWORD=replace-with-strong-db-password
DB_NAME=benify

JWT_SECRET_KEY=replace-with-long-random-jwt-secret

MINIO_ACCESS_KEY=replace-with-minio-access-key
MINIO_SECRET_KEY=replace-with-minio-secret-key
MINIO_BUCKET=benify-for-ssc-gd

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OPENCLOUD_ADMIN_API_KEY=replace-with-opencloud-api-key

CORS_ORIGINS=["http://203.57.85.149"]
