[Unit]
Description=Run Benify for SSC GD auto deployment every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=benify-autodeploy.service

[Install]
WantedBy=timers.target
